<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.product.xxd.latestliftapplication">

    <!-- 权限设置 -->
    <!-- Zxing库是一个二维码扫描库，需要相机的使用权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--使用Retrofit进行网络连接，需要使用网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--连接蓝牙需要的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UIActivity">

        </activity>
        <!-- 这个是扫描条形码的activity，不需要其他的任何设置，声明一下即可 -->
        <activity android:name="zxing.activity.CaptureActivity"/>
        <!--登录界面，也是launcher界面-->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--蓝牙扫描Activity-->
        <activity android:name=".BLEActivity"/>
        <!--开启蓝牙BLE服务-->
        <service
            android:name="ble.BLEService"
            android:enabled="true"/>
    </application>

</manifest>